<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PapersMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, year, type, author, publisher, issueNo, pageNo
    </sql>

    <!-- 查询全部 -->
    <select id="getAll" resultType="com.example.demo.model.entity.Papers">
        SELECT
            id, name, year, type, author, publisher, issueNo, pageNo
        FROM
            papers
    </select>

    <!-- 按一个值查询 -->
    <select id="getBySingleFilter" resultType="com.example.demo.model.entity.Papers">
        SELECT
            id, name, year, type, author, publisher, issueNo, pageNo
        FROM
            papers
        WHERE
            ${key} LIKE '%${value}%'
    </select>

    <!-- 按两个值查询 -->
    <select id="getByDoubleFilters" resultType="com.example.demo.model.entity.Papers">
        SELECT
            id, name, year, type, author, publisher, issueNo, pageNo
        FROM
            papers
        WHERE
            ${key1} LIKE '%${value1}%' AND ${key2} LIKE '%${value2}%'
    </select>

    <!-- 增删改 -->
    <insert id="newTuple">
        INSERT INTO papers(id, name, year, type, author, publisher, issueNo, pageNo) values(#{id}, #{name}, #{year}, #{type}, #{author}, #{publisher}, #{issueNo}, #{pageNo});
    </insert>

    <update id="updateTuple">
        UPDATE
            papers
        SET
            id = #{id}, name = #{name}, year = #{year}, type = #{type}, author = #{author}, publisher = #{publisher}, issueNo = #{issueNo}, pageNo = #{pageNo}
        WHERE
            id = #{oldId}
    </update>

    <delete id="deleteTuple">
        DELETE FROM papers WHERE id = #{id}
    </delete>

</mapper>