<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, password, dept, tel
    </sql>

    <!-- 查询全部 -->
    <select id="getAll" resultType="com.example.demo.model.entity.Users">
        SELECT
            id, name, type, password, dept, tel
        FROM
            users
    </select>

    <!-- 按一个值查询 -->
    <select id="getBySingleFilter" resultType="com.example.demo.model.entity.Users">
        SELECT
            id, name, type, password, dept, tel
        FROM
            users
        WHERE
            ${key} LIKE ${value}
    </select>

    <!-- 按两个值查询 -->
    <select id="getByDoubleFilters" resultType="com.example.demo.model.entity.Users">
        SELECT
            id, name, type, password, dept, tel
        FROM
            users
        WHERE
            ${key1} LIKE '${value1}' AND ${key2} LIKE '%${value2}%'
    </select>

    <!-- 增删改 -->
    <insert id="newTuple">
        INSERT INTO users(id, name, type, password, dept, tel) values(#{id}, #{name}, #{type}, #{password}, #{dept}, #{tel});
    </insert>

    <update id="updateTuple">
        UPDATE
            users
        SET
            id = #{id}, name = #{name}, type = #{type}, password = #{password}, dept = #{dept}, tel = #{tel}
        WHERE
            id = #{oldId}
    </update>

    <delete id="deleteTuple">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>